* {
    margin: 0;
    padding: 0;
    
    .form-control::placeholder {
        opacity: 0.5;
    }
    outline: 0;
    &:focus {
        outline: 0;
        outline-offset: 0;
    }
}

body{ 
    background: var(--bg-color);
    height: 100%;
}

.App {
    background: var(--bg-color);
    min-height: 100vh;


    .bg {
        background-image: url('./resources/images/source.png');
        background-repeat: no-repeat;
        overflow: hidden;
    }

    button {
        position: relative;
        border: solid 2px #000;
        border-radius: 50%;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
        &:before,
        &:after {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 50%;
        }
        &:after {
            box-shadow: inset 0 -1px 3px  rgba(255, 255, 255, .6);
        }
        &:active {
            &:before {
                box-shadow: 0 -3px 6px rgba(255, 255, 255, .6) inset;
            }
            &:after {
                box-shadow: 0 5px 5px rgba(0, 0, 0, .6) inset;
            }
        }
    }

    .container {
        height: 100vh;
        width:  100vw;
        max-height: 800px;
        max-width: 500px;
        background: var(--bg-color-dk);
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 10px;
        .display {
            height: 70%;
        }
        .keyboard {
            height: 30%;
        }
    }

}
  