@font-face {
    font-family: 'pixel-font';
    src: url('./styles/resources/pixel_font.ttf');
    font-weight: normal;
    font-style: normal;
}

:root {
    --bg-color: #66b3ba;
    --bg-color-dk: #52a9b1;

    --start-color:   #5ac923;
    --restart-color:  #e8c537;
    --pause-color:  -webkit-gradient(linear, left top, left bottom, from(#dc3333), to(#de0000));
    --direction-color:  #E8970C;

    font-size: 100%;
    font-family: pixel-font;
}