.keyboard {
    margin: 30px 30px 0 30px;
    display: flex;
    align-content: space-between;
    padding-bottom: 20px;
    .left-console {
        flex: 1;
        flex-direction: column;
        .left-console-top {
            display: flex;
            justify-content: space-around;
            button {
                width: 100px;
                height: 100px;
                background: var(--start-color);
                margin-top: 10%;
                .fa {
                    font-size: 1.5rem;
                }
            }   
        }
        .left-console-bottom ul {
            display: flex;
            justify-content: space-around;
            li {
                display: flex;
                align-items: center;
                button {
                    width: 40px;
                    height: 40px;
                    background: var(--restart-color);
                }
                &:last-of-type {
                    button {
                        background: var(--pause-color);
                    }
                }
            }
        }
    }
    .right-console {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        button {
            width: 60px;
            height: 60px;
            background: var(--direction-color);
            .fa {
                font-size: 2rem;
            }
        }
        .top-button {
            display: flex;
            justify-content: center;
        }   
        .left-and-right ul {
            display: flex;
            justify-content: space-around;
        }
        .bottom-button {
            display: flex;
            justify-content: center;
        }
    }
}